*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{
    background: #FFFFFF;
    color: #272626;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/head.png);
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
}

.container{
    padding: 30px 20%; 
}


nav{
    display: flex;
    display: block;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 13.5%;
    list-style: none;
}

nav ul li{
    display: flex;
    display: block;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li a{
    display: flex;
    display: block;
    float: left;
    padding: 1px;
    list-style: none;
    margin: 1px 4%;
    color: #272626;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    left: 0;
    bottom: -6px;

}

nav ul li a:hover::after{
    width: 100%;
    background: #FFFFFF;
}

.name-text{
    margin-top: 30%;
    font-size: 100px;
}

hr{
    width: 56%;
    height: 5px;
    background: #0882C6;
    border-width: 0px;

}

.sub-name-text h1{
    font-size: 30px;
    margin-top: 70px;
}

/*--------------ABOUT---------------*/

#about{
    padding: 40px 0;
    color: #3d3d3d;
}

.row{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.about-me{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    align-items: left;
}

.about-me::after{
    content: '';
    left: 44%;
    width: 13.4%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 58px;
}

.abt-col-2 p{
    font-size: 18px;
    color: #3d3d3d;
    align-items: left;
}

.row-2{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interests-col-1{
    flex-basis: 60%;
}


.about-tabs{
    display: flex;
    display: block;
    list-style: none;
    float: left;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    display: block;
    list-style: none;
    float: left;
    cursor: pointer;
    position: relative;
    color: #272626;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0882C6;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

/*
.tab-links:hover::after{
    width: 100%;
    background: #FFFFFF;
}
*/

/*
.tab-links::selection::after{
    width: 100%;
    background: #FFFFFF;
}
*/

.tab-contents p{
    font-size: 16px;
    color: #3d3d3d;
    align-items: left;
    margin-left: 0;
    margin-top: 85px;
}

.tab-contents{
    display: none;

}

.tab-contents.active-tab{
    display: block;
}

.interests-col-2{
    flex-basis: 35%;
}

.interests-col-2 img{
    width: 100%;
    border-radius: 15px;
}

/*--------------EXPERIENCE--------------*/

.row-3{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experience-col-1{
    flex-basis: 20%;
}

.experience-col-1 img{
    width: 100%;
}

.experience-col-2{
    flex-basis: 75%;
}

.experience{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    align-items: left;
}

.experience::after{
    content: '';
    left: 35.1%;
    width: 16%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.experience-col-2 h2{
    font-size: 20px;
    font-weight: 500;
    color: #3d3d3d;
}

.experience-col-2 p{
    font-size: 16px;
    color: #3d3d3d;
}

.experience-col-2 p span{
    font-size: 16px;
    color: #0a76b0;
}

/*---------------PORTFOLIO----------------*/
.projects{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 39.5%;
}

.projects::after{
    content: '';
    left: 43.8%;
    width: 11.7%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.row-4{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.portfolio-col-1{
    flex-basis: 32%;
}

.portfolio-col-1 img{
    width: 100%;
    border-radius: 5px;
    border-color:#272626;
    border: 5px solid;
    text-decoration: none;
}

.portfolio-col-2{
    flex-basis: 32%;
}

.portfolio-col-2 img{
    width: 100%;
    border-radius: 5px;
    border-color:#272626;
    border: 5px solid;
    text-decoration: none;
}

.portfolio-col-3{
    flex-basis: 32%;
}

.portfolio-col-3 img{
    width: 100%;
    border-radius: 5px;
    border-color:#272626;
    border: 5px solid;
    text-decoration: none;
}

/*------------PROSTHETIC KNEE-------------*/

.prosthetic-knee{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 23%;
}

.prosthetic-knee::after{
    content: '';
    left: 34%;
    width: 32.65%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.prosthesis-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.prosthesis-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.prosthesis-blurb iframe{
    width: 100%;
    height: 600px;
    border: #0882C6 5px solid;
}

.project-row-1{
    display: flex;
    float: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prosthetic-col-1{
    flex-basis: 33.5%;
}

.prosthetic-col-1 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.prosthetic-col-2{
    flex-basis: 32%;
}

.prosthetic-col-2 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.prosthetic-col-3{
    flex-basis: 30.5%;
}

.prosthetic-col-3 img{
    width: 100%;
    border: 2px solid #0882C6;
}

/*-----------HEALTH INNOVATION CHALLENGE-----------*/

.health-innovation{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 18.5%;
}

.health-innovation::after{
    content: '';
    left: 31.26%;
    width: 40.2%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.velocity-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.velocity-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.rapid-relief img{
    width: 100%;
}

/*------------SOLAR-DECATHLON-----------*/

.solar-decathlon{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 15.7%;
}

.solar-decathlon::after{
    content: '';
    left: 29.5%;
    width: 40.8%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.architecture-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.architecture-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.architecture-img-1 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.architecture-col-1{
    flex-basis: 54.445%;
}

.architecture-col-1 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.architecture-col-2{
    flex-basis: 40.555%;
}

.architecture-col-2 img{
    width: 100%;
    border: 2px solid #0882C6;
}

/*------WHEELCHAIR ACCESSIBLE EXERCISE EQUIPMENT------*/

.wheelchair-exercise{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: -2%;
    margin-right: -2%;
}

.wheelchair-exercise::after{
    content: '';
    left: 19%;
    width: 61.2%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.wheelchair-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.wheelchair-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.skisim-col-1{
    flex-basis: 37.1%;
}

.skisim-col-1 img{
    width: 100%;
}

.skisim-col-2{
    flex-basis: 57.9%;
}

.skisim-col-2 img{
    width: 100%;
    border: 2px solid #0a76b0;
}

/*---------------ULTRASOUND---------------*/

.b-mode{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 17.5%;
}

.b-mode::after{
    content: '';
    left: 30.65%;
    width: 38.55%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.ultrasound-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.ultrasound-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.ultrasound-col-1{
    flex-basis: 37.25%;
}

.ultrasound-col-1 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.ultrasound-col-2{
    flex-basis: 57.75%;
}

.ultrasound-col-2 img{
    width: 100%;
    border: 2px solid #0882C6;
}

/*-----------3D PUZZLE DESIGN---------*/

.puzzle{
    font-size: 45px;
    font-weight: 600;
    color: #272626;
    margin-left: 28%;
}

.puzzle::after{
    content: '';
    left: 37%;
    width: 25.45%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.puzzle-blurb p{
    font-size: 18px;
    color: #3d3d3d;
}

.puzzle-blurb p span{
    font-size: 18px;
    color: #0a76b0;
}

.puzzle-img-1 img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.puzzle-col-1{
    flex-basis: 49%;
}

.puzzle-col-1 img{
    width: 100%;
    border: 2px solid #0882C6;
}

.puzzle-col-2{
    flex-basis: 49%;
}

.puzzle-col-2 img{
    width: 100%;
    border: 2px solid #0882C6;
}


/*---------------CONTACT----------------*/

.contact-left{
    flex-basis: 35%;
}

.sub-title{
    flex-basis: 35%;
    font-size: 45px;
    font-weight: 600;
    color: #272626;
}

.sub-title::after{
    content: '';
    left: 20.2%;
    width: 15.75%;
    height: 3px;
    background: #0882C6;
    position: absolute;
    margin-top: 60px;
}

.contact-left p{
    font-size: 20px;
    color: #3d3d3d;
}

.contact-left p span{
    font-size: 20px;
    color: #0a76b0;
}

.contact-right{
    flex-basis: 60%;
    /*margin-left: 40%;*/
}

.btn{
    display: inline-block;
    color: #ffffff;
    background: #0a76b0;
    width: 30%;
    padding: 14px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 15px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 2px solid #0882C6;
    background: #ffffff;
    padding: 10px;
    margin: 8px 0;
    color: #3d3d3d;
    font-size: 18px;
    border-radius: 6px;

}

#msg{
    color:#3d3d3d;
    margin-top: -10px;
    display: block;
}
